<?js
var data = this.sidebar

// Helper function to recursively render children
function renderChildren(item, children) {

    if (!children || children.length === 0) return '';

    var html = '';
    children.forEach(function(child) {

        var hasChildren = child.children && child.children.length > 0;

        html += '<div class="sidebar-section-children ' + (hasChildren ? 'menu-accordion' : '') + '">';
        html += child.anchor && !hasChildren ? child.anchor : `<a href="#${child.name}" id="menu-${child.name}" data-isopen="false"> <svg><use xlink:href="#down-icon"></use></svg> ${child.name}</a>`;

        // Recursively render this child's children
        if (hasChildren) {
            html += '<div class="children" >';
            html += renderChildren(child, child.children);
            html += `</div>\n`;
        }
        html += '</div>';
    });

    return html;
}

if(Array.isArray(data.sections)) {
    data.sections.forEach(function(section) {
        if(section.items.length > 0) { ?>

<div class="sidebar-section-title with-arrow" data-isopen="false" id="<?js= section.id?>">
    <div><?js= section.name ?></div>
    <svg><use xlink:href="#down-icon"></use></svg>
</div>
<div class="sidebar-section-children-container">
    <?js= renderChildren('', section.items) ?>
</div>

<?js }})}?>